body
{
	margin-left: 0px;
	margin-top: 0px;
	border-top: 0px;
	border-left: 0px;
	background-image: url('images/bg_repeater.jpg');
	background-repeat: repeat-x;
	background-color: #e7ebf2;
}

img
{
	vertical-align: top;
	border: 0 0 0 0;
}

#wrapper
{
	width: 100%;
	text-align: center;;
}